################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebBlog/v15/Server/sqlite3/storage.ide-shm
/.vs/WebBlog/v15/Server/sqlite3/storage.ide-wal
/WebBlog/wwwroot/Articles/Uploaded/*
/WebBlog/bin/*
/WebBlog/obj/*
/WebBlog.Api/bin/*
/WebBlog.Api/obj/*
/WebBlog.Api/wwwroot/Articles/Uploaded/*
/WebBlog.SPA/node_modules/*
/WebBlog.Auth/bin/*
/WebBlog.Auth/obj/*
/WebBlog.Database/bin/*
/WebBlog.Common/bin/*
/WebBlog.Common/obj/*
/WebBlog.Services/bin/*
/WebBlog.Services/obj/*
/WebBlog.UnitTest/bin/*
/WebBlog.UnitTest/obj/*
/WebBlog.SPAPage/obj/*
/WebBlog.SPAPage/bin/*
/WebBlog.SPAV2/node_modules/*
/WebBlog.SPAV2/dist/*
