################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebBlog/v15/Server/sqlite3/storage.ide-shm
/.vs/WebBlog/v15/Server/sqlite3/storage.ide-wal
/WebBlog/wwwroot/Articles/Uploaded/*
/WebBlog/bin/*
/WebBlog/obj/*
/WebBlog.Api/bin/*
/WebBlog.Api/bin/Debug/netcoreapp2.0/appsettings.json
/WebBlog.Api/bin/Debug/netcoreapp2.0/WebBlog.Common.dll
/WebBlog.Api/bin/Debug/netcoreapp2.0/WebBlog.Common.pdb
/WebBlog.Api/bin/Debug/netcoreapp2.0/WebBlog.Database.dll
/WebBlog.Api/bin/Debug/netcoreapp2.0/WebBlog.Database.pdb
/WebBlog.Api/bin/Debug/netcoreapp2.0/WebBlog.Services.dll
/WebBlog.Api/bin/Debug/netcoreapp2.0/WebBlog.Services.pdb
/WebBlog.Api/obj/*
/WebBlog.Api/obj/Debug/netcoreapp2.0/WebBlog.Api.csproj.CopyComplete
/WebBlog.SPA/node_modules/.cache/uglifyjs-webpack-plugin
/WebBlog.SPA/node_modules/*
/WebBlog.Auth/bin/*
/WebBlog.Auth/bin/Debug/netcoreapp2.0
/WebBlog.Auth/obj/*
/WebBlog.Auth/obj
/WebBlog.Database/bin/*
/WebBlog.Database/bin/Debug/netcoreapp2.0
/WebBlog.Common/bin/*
/WebBlog.Common/obj/*
/WebBlog.Services/bin/*
/WebBlog.Services/obj/*
/WebBlog.UnitTest/bin/*
/WebBlog.UnitTest/obj/*
