@model WebBlog.Database.Models.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc sẽ xóa bình luận này không?</h3>
<div>
    <h4>Bình luận</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tác giả
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            Nội dung
        </dt>
        <dd>
            <textarea class="inputArea" style="height: 200px" rows="10" name="Content" asp-for="Content">
                </textarea>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
