
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="mws-panel grid_8 mws-collapsible">
    <div class="mws-panel-header admin-header">
        <span><i class="icon-table"></i>WebBlog Dashboard Management</span>
    </div>
</div>
<script type="text/javascript">
    $(".active_home").addClass("active");
</script>

